body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(30, 88, 110);
  font-size: 0.9rem;
}
.form-control {
  font-size: 1em;
}
.btn-sm {
  font-size: 0.7rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.second-nav {
  color: white;
  margin: 0.5rem;
}
.second-nav .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.toast {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.card-small-header {
  font-size: 0.8rem;
}

.link-gray {
  color: black;
}

.week-loader {
  margin-top: 30%;
  color: white;
}

.goalCardsContainer {
  flex-wrap: wrap;
}

.week-category-card {
  width: 15rem;
  height: fit-content;
  margin: 5px;
  background-color: #f3f3f3;
  border: 0;
}
@media (max-width: 992px) {
  
  .week-category-card {
    width: 12rem;
  }
}

.week-category-card .card-body{
  padding: .5rem 0.5rem 0.5rem 0.5rem;
}
.week-category-card .card-header{
  padding: 0.5rem 0.7rem;
}

.week-category-card .header{
  padding: 0.1rem 0.2rem 0.5rem 0.2rem;
}
.week-category-card .footer{
  padding: 1rem 0;
}

.week-category-card .progress {
  margin-top: 0.5em;
  font-size: 0.8em;
}

.week-category-card .favorite:hover {
  background-color: rgb(251, 235, 255);

}

.week-category-card .non-task-header {
  text-align: center;
  background-color: #444444;
  color: #aaaaaa;
}

.non-task-header .title {
  padding-top: 30px;
  font-size: 1.3em;
  font-weight: bold;
  color: #dddddd;
}

.btn-goal-cross {
  background: #404040;
}
.btn-goal-cross:hover {
  background: #333333;
}
.record-form {
  border-bottom: 1px dashed #cccccc;
}

.task-card {
  margin-top: 0.5rem;
  color: #666666;
  font-size: 0.9em;
}
.task-card:hover {
  background-color: #fff5ec;
}

.task-card .card-body, .week-category-card .card-footer{
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
}

.dummy-task-card, .task-done {
  background: #f9f9f9;
  border: 0;
  color:#cccccc;
  font-style: italic;
}

.week-category-card .card-footer{
  background-color: #dddddd;
  padding-bottom: 1em;
}

.task-card .task-card-options:hover {
  background-color: #666666;

}

.goal-modal {
  min-width: 600px;

}

.goal-modal .modal-body {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
@media only screen and (max-width: 576px) {
  .goal-modal {
    min-width: 550px;

  }
}
